<!DOCTYPE html>
<html lang="en">
{{template "head" .Header}}
<body>
{{template "header" .Header}}

{{template "maintainersbrowseheader" .}}

<div class="tab-content" id="myTabContent">

<div class="container mb-5">
    <div class="row">
        <div class="col-12">

            <div class="row">
                <div class="col-md-12">
                    {{if eq .TabName "projects"}}
                                <ul class="kk-col-list kk-6col-list kk-category-listing">
                                    {{ $prevletter := "z"}}
                                    {{range .Maintainers}}
                                        {{ if eq .Type "project"}}
                                            {{ if (ne (printf "%.1s" .Name) $prevletter)}}
                                                <li class="kk-col-list-header"><span class="kk-group-header">{{if .Name}}{{ printf "%.1s" .Name }}{{else}}#{{end}}</span></li>
                                            {{end}}
                                            {{ $prevletter = (printf "%.1s" .Name) }}

                                            <li>
                                                <a title="{{.Name}}" data-toggle="tooltip" data-placement="right" href="/maintainer/{{.Email}}">{{if .Name}}{{.Name}}{{else}}{{.Email}}{{end}}</a>
                                            </li>
                                        {{end}}
                                    {{end}}
                                </ul>
                    {{else if eq .TabName "gentoo-developers"}}
                                <ul class="kk-col-list kk-6col-list kk-category-listing">
                                    {{ $prevletter := "z"}}
                                    {{range .Maintainers}}
                                        {{ if eq .Type "gentoo-developer"}}
                                            {{ if (ne (printf "%.1s" .Name) $prevletter)}}
                                                <li class="kk-col-list-header"><span class="kk-group-header">{{if .Name}}{{ printf "%.1s" .Name }}{{else}}#{{end}}</span></li>
                                            {{end}}
                                            {{ $prevletter = (printf "%.1s" .Name) }}

                                            <li>
                                                <a title="{{.Name}}" data-toggle="tooltip" data-placement="right" href="/maintainer/{{.Email}}">{{if .Name}}{{.Name}}{{else}}{{.Email}}{{end}}</a>
                                            </li>
                                        {{end}}
                                    {{end}}
                                </ul>
                    {{else if eq .TabName "proxied-maintainers"}}
                                <ul class="kk-col-list kk-6col-list kk-category-listing">
                                    {{ $prevletter := "z"}}
                                    {{range .Maintainers}}
                                        {{ if eq .Type "proxied-maintainer"}}
                                            {{ if (ne (printf "%.1s" .Name) $prevletter)}}
                                                <li class="kk-col-list-header"><span class="kk-group-header">{{if .Name}}{{ printf "%.1s" .Name }}{{else}}#{{end}}</span></li>
                                            {{end}}
                                            {{ $prevletter = (printf "%.1s" .Name) }}

                                            <li>
                                                <a title="{{.Name}}" data-toggle="tooltip" data-placement="right" href="/maintainer/{{.Email}}">{{if .Name}}{{.Name}}{{else}}{{.Email}}{{end}}</a>
                                            </li>
                                        {{end}}
                                    {{end}}
                                </ul>
                    {{end}}


                </div>
                <div class="col-md-3 d-none">
                    <h4 class="">Description</h4>
                    {{if eq .TabName "projects"}}
                        <span class="text-muted">
                            A project in Gentoo is according to <a href="https://www.gentoo.org/glep/glep-0039.html">GLEP 39</a> a group of developers working towards a goal (or a set of goals).
                        </span>
                    {{else if eq .TabName "gentoo-developers"}}
                        <span class="text-muted">
                            Here you can see all official <a href="https://www.gentoo.org/inside-gentoo/developers/">Gentoo developers</a> that are listed as the maintainer of at least one package in the tree.<br/><br/>
                            Interested into becoming a Gentoo developer? We do have some <a href="https://www.gentoo.org/get-involved/become-developer/">guidance</a>.
                        </span>
                    {{else if eq .TabName "proxied-maintainers"}}
                        <span class="text-muted">
                            Proxied maintainers are users who are maintaining packages in the official Gentoo package repository. <br/><br/>
                            Want to become a Proxied maintainer? Follow <a href="https://wiki.gentoo.org/wiki/Project:Proxy_Maintainers/User_Guide">this guide</a>.<br/><br/>
                            You might especially be intersted into <a href="/maintainer/maintainer-needed@gentoo.org">packages that need a maintainer</a>.
                        </span>

                    {{end}}
                </div>
            </div>


        </div>
    </div>
</div>


</div>


{{template "footer" .Application }}

</body>
</html>
