<!DOCTYPE html>
<html lang="en">
{{template "head" .Header}}
<body>
{{template "header" .Header}}

{{template "maintainerheader" .}}

<div class="tab-content" id="myTabContent">
    <div class="container mb-5 tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
        {{if eq .PageName "packages"}}
            {{template "packages" .}}
        {{else if eq .PageName "outdated"}}
            {{template "outdated" .}}
        {{else if eq .PageName "pull-requests"}}
            {{template "pull-requests" .}}
        {{else if eq .PageName "stabilization"}}
            {{template "stabilization" .}}
        {{else if eq .PageName "bugs"}}
            {{template "bugs" .}}
        {{else if eq .PageName "security"}}
            {{template "security" .}}
        {{else if eq .PageName "changelog"}}
            {{template "changelog" .}}
        {{end}}
    </div>
</div>

{{template "footer" .Application }}


</body>
</html>
