<!DOCTYPE html>
<html lang="en">
{{template "head" .Header}}
<body>
{{template "header" .Header}}

{{template "userheader" . }}


<div class="tab-content" id="myTabContent">

    <div class="container mb-5">
        {{if eq .PageName "general"}}
            {{template "general" .}}
        {{else if eq .PageName "packages"}}
            {{template "packages" .}}
        {{else if eq .PageName "maintainers"}}
            {{template "maintainers" .}}
        {{else if eq .PageName "useflags"}}
            {{template "useflags" .}}
        {{else if eq .PageName "arches"}}
            {{template "arches" .}}
        {{end}}
    </div>

</div>


{{template "footer" .Application }}

<script src="/assets/userpref.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script>
    if(document.getElementById("example1") != null && document.getElementById("example2") != null) {
        new Sortable(example1, {
            group: 'shared',
            animation: 150,
            ghostClass: 'bg-info'
        });
        new Sortable(example2, {
            group: 'shared',
            animation: 150,
            ghostClass: 'bg-info'
        });
    }
</script>

</body>
</html>
