{{define "head"}}
    <head>
        <title>{{.Title}}Gentoo Packages</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#54487a">
        <meta name="description" content="Gentoo Packages Database">
        <!-- link rel="stylesheet" media="screen" href="/packs/css/application-024b2074.css" /-->
        <!-- script src="/packs/js/application-cfb73e71df8935c3a9ed.js"></script -->
        <script src="/assets/stylesheets.js"></script>
        <script src="/assets/application.js"></script>
        <link rel="icon" href="https://packages.gentoo.org/favicon.ico" type="image/x-icon">
    </head>
{{end}}
