{{define "tyrian-navbar"}}
    <nav class="tyrian-navbar navbar navbar-dark navbar-expand-lg bg-primary" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-main-collapse" id="navbar-main-collapse">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item {{ if (eq .Tab "home")}}active{{end}}"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item {{ if (eq .Tab "packages")}}active{{end}}"><a class="nav-link" href="/categories">Packages</a></li>
                    <li class="nav-item {{ if (eq .Tab "maintainers")}}active{{end}}"><a class="nav-link" href="/maintainers">Maintainers</a></li>
                    <li class="nav-item {{ if (eq .Tab "useflags")}}active{{end}}"><a class="nav-link" href="/useflags">USE flags</a></li>
                    <li class="nav-item {{ if (eq .Tab "arches")}}active{{end}}"><a class="nav-link" href="/arches">Architectures</a></li>
                    <li class="nav-item {{ if (eq .Tab "about")}}active{{end}}"><a class="nav-link" href="/about">About</a></li>

                </ul>

                {{ if ne .Tab "home"}}
                <form class="form-inline inlinesearch" role="search" action="/packages/search" method="get">

                    <div class="input-group">

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>

                        <input class="form-control" type="text" name="q" type="text" placeholder="Find Packages" aria-label="Find Packages">
                    </div>

                </form>
                {{end}}

		<!-- 
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/user/preferences"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a></li>
                </ul>
                -->

            </div>
        </div>
    </nav>
{{end}}
