{{define "arches"}}
        <div class="row">

            <div class="col-2 mt-1">
                <div class="nav flex-column" role="tablist" aria-orientation="vertical" style="position: fixed;">
                    <a class="nav-link user-pref-nav-link active" id="keywords-tab" href="#keywords" aria-controls="overview-settings">Keywords</a>
                    <a class="nav-link user-pref-nav-link" id="defaults-tab" href="#defaults">Defaults</a>
                </div>
            </div>

            <div class="col-10 mt-1">

                <form method="post" action="/user/preferences/arches/visible">
                    <h3 class="" id="keywords">Keywords</h3><hr class="mt-1"/>
                    <div class="row pl-3">
                        <ul id="example1" class="list-group col-6">
                            {{range $index, $keyword := .UserPreferences.Arches.Visible}}
                                <li class="list-group-item">
                                    <div class="form-check form-check-inline w-100">
                                        <input type="checkbox" id="visible-arches-{{$keyword}}" name="visible-arches" value="{{$keyword}}" {{if Contains $.UserPreferences.Arches.Visible $keyword}}checked{{end}}/>
                                        <label class="form-check-label ml-1" for="visible-arches-{{$keyword}}">{{$keyword}}</label> <i class="fa fa-arrows ml-auto" aria-hidden="true"></i>
                                    </div>
                                </li>
                            {{end}}
                            {{$counter := 0}}
                            {{range $index, $keyword := .UserPreferences.GetAllKeywords}}
                            {{if not (Contains $.UserPreferences.Arches.Visible $keyword)}}
                                {{$counter = add $counter 1}}
                                <li class="list-group-item">
                                    <div class="form-check form-check-inline w-100">
                                        <input type="checkbox" id="visible-arches-{{$keyword}}" name="visible-arches" value="{{$keyword}}" {{if Contains $.UserPreferences.Arches.Visible $keyword}}checked{{end}}/>
                                        <label class="form-check-label ml-1" for="visible-arches-{{$keyword}}">{{$keyword}}</label> <i class="fa fa-arrows ml-auto" aria-hidden="true"></i>
                                    </div>
                                </li>
                            {{end}}

                            {{if eq (add (len $.UserPreferences.Arches.Visible) $counter) 16}}
                        </ul>
                        <ul id="example2" class="list-group col-6">
                            {{end}}
                            {{end}}
                        </ul>
                    </div>

                    <h3 class="mt-5" id="defaults">Defaults</h3><hr class="mt-1"/>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    Default arch <select class="form-control" style="max-width: 200px;display: inline;" name="arches-default-arch" id="arches-default-arch">
                                        {{range $index, $keyword := .UserPreferences.GetAllKeywords}}
                                            <option value="{{$keyword}}" {{if eq $.UserPreferences.Arches.DefaultArch $keyword}}selected{{end}}>{{$keyword}}</option>
                                        {{end}}
                                    </select>
                                </div>
                                <div class="col-6">
                                    Default page <select class="form-control" style="max-width: 150px;display: inline;" name="arches-default-page" id="arches-default-page">
                                        <option value="keyworded" {{if eq .UserPreferences.Arches.DefaultPage "keyworded"}}selected{{end}}>keyworded</option>
                                        <option value="stable" {{if eq .UserPreferences.Arches.DefaultPage "stable"}}selected{{end}}>newly stable</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mt-4">
                            <button type="submit" class="float-right btn btn-sm btn-primary">Save</button>
                            <a class="float-right btn btn-sm btn-outline-danger mr-2" href="/user/preferences/arches/reset">Reset to Defaults</a>
                        </div>
                    </div>

                </form>

            </div>
    </div>
{{end}}
