{{define "packages"}}
    <div class="row">

        <div class="col-2 mt-1">
            <div class="nav flex-column" role="tablist" aria-orientation="vertical" style="position: fixed;">
                <a class="nav-link user-pref-nav-link active" id="overview-tab" href="#overview" aria-controls="overview-settings">Overview</a>
                <a class="nav-link user-pref-nav-link" id="dependencies-tab" href="#dependencies">Dependencies</a>
                <a class="nav-link user-pref-nav-link" id="pull-requests-tab" href="#pull-requests" aria-controls="pull-requests-settings">Pull requests</a>
                <a class="nav-link user-pref-nav-link" id="bugs-tab" href="#bugs" aria-controls="bugs-settings">Bugs</a>
                <a class="nav-link user-pref-nav-link" id="security-tab" href="#security" aria-controls="security-settings">Security</a>
                <a class="nav-link user-pref-nav-link" id="changelog-tab" href="#changelog" aria-controls="changelog-settings">Changelog</a>
                <a class="nav-link user-pref-nav-link" id="qa-report-tab" href="#qa-report" aria-controls="qa-report-settings">QA report</a>
                <a class="nav-link user-pref-nav-link" id="tabs-tab" href="#tabs" aria-controls="tabs-settings">Tabs</a>
            </div>
        </div>

        <div class="col-9 mt-1">

            <form method="post" action="/user/preferences/packages/edit">

                <h3 id="overview">Overview</h3><hr class="mt-1"/>
                <h4 class="mb-1">Layout</h4>

                        <div class="row">
                            <div class="col-6 mt-1">
                                <div class="card" style="background: transparent;">
                                    <div class="card-body">
                                        <img id="img1" alt="Versions + Metadata (default)" src="/assets/pgo2.png" style="width: 100%;cursor: pointer;" />
                                    </div>
                                </div>
                                <div class="text-center mt-2">
                                    <div class="form-check text-center form-check-inline" style="text-overflow: ellipsis;overflow: hidden;">
                                        <input type="radio" id="minimalOverviewLayout" name="overview-layout" value="minimal" {{if eq .UserPreferences.Packages.Overview.Layout "minimal"}}checked{{end}}>
                                        <label class="form-check-label ml-1" for="minimalOverviewLayout" style="overflow:hidden;text-overflow: ellipsis;" title="Versions + Metadata (default)">Versions + Metadata <i>(default)</i></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 mt-1">
                                <div class="card" style="background: transparent;">
                                    <div class="card-body">
                                        <img id="img2" alt="Versions + Metadata + Changelog" src="/assets/pgo1.png" onclick="document.getElementById('fullOverviewLayout').checked = true;" style="width: 100%;cursor: pointer;" />
                                    </div>
                                </div>
                                <div class="text-center mt-2">
                                    <div class="form-check text-center form-check-inline" style="text-overflow: ellipsis;overflow: hidden;">
                                        <input type="radio" id="fullOverviewLayout" name="overview-layout" value="full" {{if eq .UserPreferences.Packages.Overview.Layout "full"}}checked{{end}}>
                                        <label class="form-check-label ml-1" for="fullOverviewLayout" style="overflow:hidden;text-overflow: ellipsis;" title="Versions + Metadata + Changelog">Versions + Metadata + Changelog</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                <h4 class="mt-4 mb-1">Keywords</h4>
                <div class="row pl-3">
                    <ul id="example1" class="list-group col-6">
                        {{range $index, $keyword := .UserPreferences.Packages.Overview.Keywords}}
                            <li class="list-group-item">
                                <div class="form-check form-check-inline w-100">
                                    <input type="checkbox" id="overview-keywords-{{$keyword}}" name="overview-keywords" value="{{$keyword}}" {{if Contains $.UserPreferences.Packages.Overview.Keywords $keyword}}checked{{end}}/>
                                    <label class="form-check-label ml-1" for="overview-keywords-{{$keyword}}">{{$keyword}}</label> <i class="fa fa-arrows ml-auto" aria-hidden="true"></i>
                                </div>
                            </li>
                        {{end}}
                        {{$counter := 0}}
                        {{range $index, $keyword := .UserPreferences.GetAllKeywords}}
                            {{if not (Contains $.UserPreferences.Packages.Overview.Keywords $keyword)}}
                                {{$counter = add $counter 1}}
                                <li class="list-group-item">
                                    <div class="form-check form-check-inline w-100">
                                        <input type="checkbox" id="overview-keywords-{{$keyword}}" name="overview-keywords" value="{{$keyword}}" {{if Contains $.UserPreferences.Packages.Overview.Keywords $keyword}}checked{{end}}/>
                                        <label class="form-check-label ml-1" for="overview-keywords-{{$keyword}}">{{$keyword}}</label> <i class="fa fa-arrows ml-auto" aria-hidden="true"></i>
                                    </div>
                                </li>
                            {{end}}

                            {{if eq (add (len $.UserPreferences.Packages.Overview.Keywords) $counter) 16}}
                                </ul>
                                <ul id="example2" class="list-group col-6">
                            {{end}}
                        {{end}}
                    </ul>
                </div>

                <h4 class="mt-4 mb-1">EAPI version</h4>
                <div class="card">
                    <div class="card-body">
                        Show <select class="form-control form-control-sm ml-2" style="max-width: 100px;display: inline;" name="overview-eapi" id="overview-eapi">
                            <option value="none" {{if eq .UserPreferences.Packages.Overview.EAPI "none"}}selected{{end}}>none</option>
                            <option value="column" {{if eq .UserPreferences.Packages.Overview.EAPI "column"}}selected{{end}}>in column</option>
                            <option value="inline" {{if eq .UserPreferences.Packages.Overview.EAPI "inline"}}selected{{end}}>inline</option>
                        </select>
                    </div>
                </div>

                <h4 class="mt-4 mb-1">Outdated Versions</h4>
                <div class="card">
                    <div class="card-body">

                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="" id="overview-showOutdated" name="overview-showOutdated" value="true" {{if .UserPreferences.Packages.Overview.ShowOutdated}}checked{{end}}/>
                            <label class="form-check-label ml-1" for="overview-showOutdated">Show Outdated warnings?</label>
                        </div>
                    </div>
                </div>

                <h4 class="mt-4 mb-1">Metadata</h4>
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" name="overview-metadata-fields" id="overview-metadata-fields-homepage" value="homepage" {{if Contains .UserPreferences.Packages.Overview.MetadataFields "homepage"}}checked{{end}}/>
                                    <label class="form-check-label ml-1" for="overview-metadata-fields-homepage">Homepage</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" name="overview-metadata-fields" id="overview-metadata-fields-upstream" value="upstream" {{if Contains .UserPreferences.Packages.Overview.MetadataFields "upstream"}}checked{{end}}/>
                                    <label class="form-check-label ml-1" for="overview-metadata-fields-upstream">Upstream</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" name="overview-metadata-fields" id="overview-metadata-fields-longdescription" value="longdescription" {{if Contains .UserPreferences.Packages.Overview.MetadataFields "longdescription"}}checked{{end}}/>
                                    <label class="form-check-label ml-1" for="overview-metadata-fields-longdescription">Longdescription</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" name="overview-metadata-fields" id="overview-metadata-fields-useflags" value="useflags" {{if Contains .UserPreferences.Packages.Overview.MetadataFields "useflags"}}checked{{end}}/>
                                    <label class="form-check-label ml-1" for="overview-metadata-fields-useflags">USE flags</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" name="overview-metadata-fields" id="overview-metadata-fields-license" value="license" {{if Contains .UserPreferences.Packages.Overview.MetadataFields "license"}}checked{{end}}/>
                                    <label class="form-check-label ml-1" for="overview-metadata-fields-license">License</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" name="overview-metadata-fields" id="overview-metadata-fields-maintainers" value="maintainers" {{if Contains .UserPreferences.Packages.Overview.MetadataFields "maintainers"}}checked{{end}}/>
                                    <label class="form-check-label ml-1" for="overview-metadata-fields-maintainers">Maintainers</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="mt-4 mb-1">Changelog</h4>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                Layout <select class="form-control form-control-sm ml-1" style="max-width: 100px;display: inline;" name="overview-changelog-type" id="overview-changelog-type" disabled>
                                    <option value="compact">default</option>
                                </select>
                            </div>
                            <div class="col-6">
                                Size <input type="number" name="overview-changelog-size" class="form-control form-control-sm ml-1" style="width:150px;display: inline;" value="{{.UserPreferences.Packages.Overview.ChangelogLength }}" />
                            </div>
                        </div>
                    </div>
                </div>


                <h3 class="mt-5" id="dependencies">Dependencies</h3><hr class="mt-1"/>
                <div class="card">
                    <div class="card-body">
                        Default Page <select class="form-control form-control-sm ml-1" style="max-width: 200px;display: inline;" name="dependencies-default-page" id="dependencies-default-page">
                            <option value="dependencies" {{if eq .UserPreferences.Packages.Dependencies.Default "dependencies"}}selected{{end}}>dependencies</option>
                            <option value="reverse-dependencies" {{if eq .UserPreferences.Packages.Dependencies.Default "reverse-dependencies"}}selected{{end}}>reverse-dependencies</option>
                        </select>
                    </div>
                </div>


                <h3 class="mt-5" id="pull-requests">Pull requests</h3><hr class="mt-1"/>
                <div class="card">
                    <div class="card-body">
                        Layout <select class="form-control form-control-sm ml-1" style="max-width: 200px;display: inline;" name="pullrequests-layout" id="pullrequests-layout" disabled>
                            <option value="default" {{if eq .UserPreferences.Packages.PullRequests.Layout "default"}}selected{{end}}>default</option>
                        </select>
                    </div>
                </div>


                <h3 class="mt-5" id="bugs">Bugs</h3><hr class="mt-1"/>
                <div class="card">
                    <div class="card-body">
                        Layout <select class="form-control form-control-sm ml-1" style="max-width: 200px;display: inline;" name="bugs-layout" id="bugs-layout" disabled>
                            <option value="default" {{if eq .UserPreferences.Packages.PullRequests.Layout "default"}}selected{{end}}>default</option>
                        </select>
                    </div>
                </div>


                <h3 class="mt-5" id="security">Security</h3><hr class="mt-1"/>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                Layout <select class="form-control form-control-sm ml-1" style="max-width: 100px;display: inline;" name="security-layout" id="security-layout" disabled>
                                    <option value="default">default</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <div class="form-check form-check-inline pt-2">
                                    <input type="checkbox" name="security-show-glsas" id="security-show-glsas" class="disabled" value="true" {{if .UserPreferences.Packages.Security.ShowGLSAs}}checked{{end}} disabled/>
                                    <label class="form-check-label ml-1" style="color:grey;">Show GLSAs</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <h3 class="mt-5" id="changelog">Changelog</h3><hr class="mt-1"/>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                Layout <select class="form-control form-control-sm ml-1" style="max-width: 100px;display: inline;" name="changelog-type" id="changelog-type" disabled>
                                    <option value="compact">default</option>
                                </select>
                            </div>
                            <div class="col-6">
                                Size <input type="number" name="changelog-size" class="form-control form-control-sm" style="display: inline;width: 150px;" value="{{.UserPreferences.Packages.Changelog.Size }}" />
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="mt-5" id="qa-report">QA Report</h3><hr class="mt-1"/>
                <div class="row">
                    <div class="col-4">
                        {{range (CreateSlice 190)}}
                        <ul class="list-group mb-2">
                            <li class="list-group-item">
                                <div class="form-check form-check-inline" style="text-overflow: ellipsis;overflow: hidden; width: 100%;">
                                    <input type="checkbox" id="qareport-classes-{{.}}" name="qareport-classes" value="{{.}}" {{if not (ContainsInt $.UserPreferences.Packages.QAReport.ExcludedWarningClasses .) }}checked{{end}} />
                                    <label class="form-check-label ml-1" for="qareport-classes-{{.}}" style="overflow:hidden;text-overflow: ellipsis;" title="{{GetPkgcheckClass .}}">{{GetPkgcheckClass .}}</label>
                                </div>
                            </li>
                        </ul>
                        {{if eq . 63}}
                    </div><div class="col-4">
                        {{else if eq . 127}}
                    </div><div class="col-4">
                        {{end}}
                        {{end}}
                    </div>
                </div>


                <h3 class="mt-5" id="tabs">Visible Tabs</h3><hr class="mt-1"/>
                <div class="card">
                    <div class="card-body">
                        <div style="columns:3;">

                            <div class="form-check form-check-inline" style="text-overflow: ellipsis;overflow: hidden; width: 100%;">
                                <input type="checkbox" name="visible-tabs" id="visible-tabs-overview" value="Overview" {{if Contains .UserPreferences.Packages.Tabs.Visible "Overview"}}checked{{end}}/>
                                <label class="form-check-label ml-1" for="visible-tabs-overview" style="overflow:hidden;text-overflow: ellipsis;" title="Overview">Overview</label>
                            </div>

                            <div class="form-check form-check-inline" style="text-overflow: ellipsis;overflow: hidden; width: 100%;">
                                <input type="checkbox" name="visible-tabs" id="visible-tabs-dependencies" value="Dependencies" {{if Contains .UserPreferences.Packages.Tabs.Visible "Dependencies"}}checked{{end}}/>
                                <label class="form-check-label ml-1" for="visible-tabs-dependencies" style="overflow:hidden;text-overflow: ellipsis;" title="Dependencies">Dependencies</label>
                            </div>

                            <div class="form-check form-check-inline" style="text-overflow: ellipsis;overflow: hidden; width: 100%;">
                                <input type="checkbox" name="visible-tabs"  id="visible-tabs-qa-report" value="QA report" {{if Contains .UserPreferences.Packages.Tabs.Visible "QA report"}}checked{{end}}/>
                                <label class="form-check-label ml-1" for="visible-tabs-qa-report" style="overflow:hidden;text-overflow: ellipsis;" title="QA report">QA report</label>
                            </div>

                            <div class="form-check form-check-inline" style="text-overflow: ellipsis;overflow: hidden; width: 100%;">
                                <input type="checkbox" name="visible-tabs" id="visible-tabs-pull-requests" value="Pull requests" {{if Contains .UserPreferences.Packages.Tabs.Visible "Pull requests"}}checked{{end}}/>
                                <label class="form-check-label ml-1" for="visible-tabs-pull-requests" style="overflow:hidden;text-overflow: ellipsis;" title="Pull Requests">Pull Requests</label>
                            </div>

                            <div class="form-check form-check-inline" style="text-overflow: ellipsis;overflow: hidden; width: 100%;">
                                <input type="checkbox" name="visible-tabs" id="visible-tabs-bugs" value="Bugs" {{if Contains .UserPreferences.Packages.Tabs.Visible "Bugs"}}checked{{end}}/>
                                <label class="form-check-label ml-1" for="visible-tabs-bugs" style="overflow:hidden;text-overflow: ellipsis;" title="Bugs">Bugs</label>
                            </div>

                            <div class="form-check form-check-inline" style="text-overflow: ellipsis;overflow: hidden; width: 100%;">
                                <input type="checkbox" name="visible-tabs" id="visible-tabs-security" value="Security" {{if Contains .UserPreferences.Packages.Tabs.Visible "Security"}}checked{{end}}/>
                                <label class="form-check-label ml-1" for="visible-tabs-security" style="overflow:hidden;text-overflow: ellipsis;" title="Security">Security</label>
                            </div>

                            <div class="form-check form-check-inline" style="text-overflow: ellipsis;overflow: hidden; width: 100%;">
                                <input type="checkbox" name="visible-tabs" id="visible-tabs-changelog" value="Changelog" {{if Contains .UserPreferences.Packages.Tabs.Visible "Changelog"}}checked{{end}}/>
                                <label class="form-check-label ml-1" for="visible-tabs-changelog" style="overflow:hidden;text-overflow: ellipsis;" title="Changelog">Changelog</label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-4">
                        <button type="submit" class="float-right btn btn-sm btn-primary">Save</button>
                        <a class="float-right btn btn-sm btn-outline-danger mr-2" href="/user/preferences/packages/reset">Reset to Defaults</a>
                    </div>
                </div>

            </form>
        </div>

    </div>

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

{{end}}
