{{define "useflags"}}
    <form method="post" action="/user/preferences/useflags/edit">
        <div class="row">

            <div class="col-5 offset-1 mt-1">
                <div class="card" style="background: transparent;">
                    <div class="card-body">
                        <img id="img1" alt="Popular USE flags (default)" src="/assets/pgo6.png" style="width: 100%;cursor: pointer;" />
                    </div>
                </div>
                <div class="text-center mt-2">
                    <div class="form-check text-center form-check-inline" style="text-overflow: ellipsis;overflow: hidden;">
                        <input type="radio" id="BubbleUseflagDefaultPage" name="useflag-default-page" value="bubble" {{if eq .UserPreferences.Useflags.Layout "bubble"}}checked{{end}}>
                        <label class="form-check-label ml-1" for="BubbleUseflagDefaultPage" style="overflow:hidden;text-overflow: ellipsis;" title="Popular USE flags (default)">Popular USE flags <i>(default)</i></label>
                    </div>
                </div>
            </div>

            <div class="col-5 mt-1">
                <div class="card" style="background: transparent;">
                    <div class="card-body">
                        <img id="img2" alt="USE flags search" src="/assets/pgo5.png" style="width: 100%;cursor: pointer;" />
                    </div>
                </div>
                <div class="text-center mt-2">
                    <div class="form-check text-center form-check-inline" style="text-overflow: ellipsis;overflow: hidden;">
                        <input type="radio" id="SearchUseflagDefaultPage" name="useflag-default-page" value="search" {{if eq .UserPreferences.Useflags.Layout "search"}}checked{{end}}>
                        <label class="form-check-label ml-1" for="SearchUseflagDefaultPage" style="overflow:hidden;text-overflow: ellipsis;" title="USE flags search">USE flags search</label>
                    </div>
                </div>
            </div>

            <div class="col-10 offset-1 mt-4">
                <button type="submit" class="float-right btn btn-sm btn-primary">Save</button>
                <a class="float-right btn btn-sm btn-outline-danger mr-2" href="/user/preferences/useflags/reset">Reset to Defaults</a>
            </div>

        </div>
    </form>

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
{{end}}
