body {
  height: 100%;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

#graphiql {
  height: 100vh;
}

.graphiql-container .history-contents li:hover {
  background: #54487A !important;
}

.topBar, .docExplorerShow, .toolbar-button, .execute-button {
  background: #FAFAFA !important;
}

.execute-button-wrap {
  margin-left: 15px !important;
}

/*
 * Fix the search icon by hiding the (broken)
 * text and use a pure css solution instead.
 */
.search-box-icon {
  text-indent: -1000em;
  color: #000;
  position: absolute;
  margin-top: 2px;
  margin-left: 0px;
  width: 12px;
  top: 3px !important;
  height: 12px;
  border: solid 1px currentColor;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.search-box-icon:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 5px;
  height: 6px;
  width: 1px;
  background-color: currentColor;
}
