.kk-useflag-circle {
  cursor: pointer;
}

.kk-useflag-bubble-container {
  text-align: center;
  overflow: scroll;
}

.kk-useflag-listing {
  a:link,
  a:visited {
    color: #333;
  }
}

form.useflag-search {
  margin-top: 2.5em;
  margin-bottom: 1em;
}
