<?xml version="1.0" encoding="UTF-8"?>
<feed xml:lang="en-US" xmlns="http://www.w3.org/2005/Atom">
    <id>tag:packages.gentoo.org,2015-10-03:packageinfo:feed</id>
    <link rel="alternate" type="text/html" href="https://packages.gentoo.org"/>
    <link rel="self" type="application/atom+xml" href="https://packages.gentoo.org/packages/search.atom?q={{.Search}}"/>
    <title>Gentoo Packages for search query: {{.Search}}</title>
    <updated>2020-02-21T01:52:35Z</updated>
    <author>
        <name>Gentoo Packages Database</name>
    </author>

    {{range .Packages}}
        <entry>
            <id>tag:packages.gentoo.org,2015-10-03:packageinfo:{{.Atom}}</id>
            <published>2020-02-21T01:52:35Z</published>
            <updated>2020-04-07T22:32:38Z</updated>
            <link rel="alternate" type="text/html" href="https://packages.gentoo.org/packages/{{.Atom}}"/>
            <updated>2019-09-15T17:10:46+00:00</updated>
            <title>{{.Atom}} (Gnome and XFCE applet for displaying XMonad log)</title>
            <content>#fda79a4: x11-misc/xmonad-log-applet: Inline mirror://github

                Signed-off-by: Michał Górny &lt;mgorny@gentoo.org&gt;</content>
        </entry>
    {{end}}
</feed>

