<!DOCTYPE html>
<html lang="en">
{{template "head" .Header}}
<body>
{{template "header" .Header}}


{{template "browsecategoriesheader" .}}


<div class="tab-content" id="myTabContent">

<div class="container mb-5">
    <div class="row">
        <div class="col-12">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="d-none mb-2">Browse all Categories</h3>
                    <div class="card rounded" style="background: none;border: none;">
                        <div class="card-body">
                            <ul class="kk-col-list kk-6col-list kk-category-listing">
                                {{ $prevletter := "z"}}
                                {{range .Categories}}
                                    {{ if (ne (printf "%.1s" .Name) $prevletter)}}
                                        <li class="kk-col-list-header"><span class="kk-group-header">{{ printf "%.1s" .Name }}</span></li>
                                    {{end}}
                                    {{ $prevletter = (printf "%.1s" .Name) }}

                                <li>
                                    <a title="{{.Description}}" data-toggle="tooltip" data-placement="right" href="/categories/{{.Name}}">{{.Name}}</a>
                                </li>
                                {{end}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

</div>


{{template "footer" .Application }}

</body>
</html>
