<!DOCTYPE html>
<html lang="en">
{{template "head" .Header}}
<body>
{{template "header" .Header}}


{{template "categoryheader" . }}


<div class="tab-content" id="myTabContent">
    <div class="container mb-5 tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
        {{if eq .PageName "packages"}}
            {{template "packages" .}}
        {{else if eq .PageName "outdated"}}
            {{template "outdated" .}}
        {{else if eq .PageName "pull-requests"}}
            {{template "pull-requests" .}}
        {{end}}
    </div>
</div>

{{template "footer" .Application }}

</body>
</html>
