<!DOCTYPE html>
<html lang="en">
{{template "head" .Header}}
<body>
{{template "header" .Header}}


{{template "categoryheader" .Category }}


<div class="tab-content" id="myTabContent">

<div class="container mb-5">
    <div class="row">
        <div class="col-12">


            <div class="row">
                <div class="col-md-9">
                    <!--<p>
                      <input type="text" class="form-control form-control-xl" placeholder="Search packages in <%= @category.name %>">
                    </p>-->

                    <div class="card border-top-0 rounded">
                        <table class="table mb-0 rounded">
                            {{$prevCatLetter := (printf "%.1s" (index .Category.Packages 0).Name) }}
                            {{range .Category.Packages}}
                                {{ if ne (printf "%.1s" .Name) $prevCatLetter}}
                                    {{$prevCatLetter = (printf "%.1s" .Name)}}
                                    <tr id="{{$prevCatLetter}}"></tr>
                                {{end}}
                                {{template "packageline" .}}
                            {{end}}
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Statistics</h4>
                    <dd class="ml-3">
                        <dl>Packages: {{ len .Category.Packages }}</dl>
                    </dd>
                    <h4 class="mt-4">Filter by Category</h4>
                    <div class="row pl-4 pr-5 mr-5">
                        {{$prevLetter := (printf "%.1s" (index .Category.Packages 0).Name) }}
                        {{ range .Category.Packages }}
                            {{ if ne (printf "%.1s" .Name) $prevLetter}}
                                <div class="col-md-2 px-2"><a href="#{{$prevLetter}}" class="text-muted text-capitalize">{{$prevLetter}}</a></div>
                                {{$prevLetter = (printf "%.1s" .Name)}}
                            {{end}}
                        {{end}}
                        <div class="col-md-2 px-2"><a href="#{{$prevLetter}}" class="text-muted text-capitalize">{{$prevLetter}}</a></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>



</div>


{{template "footer" .Application }}

</body>
</html>
