<!DOCTYPE html>
<html lang="en">
{{template "head" .Header}}
<body>
{{template "header" .Header}}


{{template "categoryheader" .Category }}


<div class="tab-content" id="myTabContent">

<div class="container mb-5">
    <div class="row">
        <div class="col-12">


            <div class="row">
                <div class="col-md-9">
                    <!--<p>
                      <input type="text" class="form-control form-control-xl" placeholder="Search packages in <%= @category.name %>">
                    </p>-->

                    <div class="card border-top-0 rounded">
                        <table class="table mb-0 rounded">
                            {{range .Category.Packages}}
                                {{template "packageline" .}}
                            {{end}}
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Statistics</h4>
                    <dd class="ml-3">
                        <dl>Packages: {{ len .Category.Packages }}</dl>
                    </dd>
                </div>
            </div>


        </div>
    </div>
</div>



</div>


{{template "footer" .Application }}

</body>
</html>
