{{define "bugs"}}
    <div class="row">
        <div class="col-md-9">
            {{$security_bugs := 0}}
            {{$non_security_bugs := 0}}
            {{range getAllBugs .Packages}}
                {{if eq .Component "Vulnerabilities"}}
                    {{$security_bugs = (add $security_bugs 1)}}
                {{else}}
                    {{$non_security_bugs = (add $non_security_bugs 1)}}
                {{end}}
            {{end}}

            {{$general_bugs := 0}}
            {{$stabilization_bugs := 0}}
            {{$keywording_bugs := 0}}
            {{range getAllBugs .Packages}}
                {{if eq .Component "Current packages"}}
                    {{$general_bugs = (add $general_bugs 1)}}
                {{else if eq .Component "Stabilization"}}
                    {{$stabilization_bugs = (add $stabilization_bugs 1)}}
                {{else if eq .Component "Keywording"}}
                    {{$keywording_bugs = (add $keywording_bugs 1)}}
                {{end}}
            {{end}}


            {{if $non_security_bugs}}

                {{if $general_bugs}}
                    <h3 id="packages" class="mb-4">Bug Reports</h3>
                    <ul class="list-group">
                        {{range getAllBugs .Packages}}
                            {{if eq .Component "Current packages"}}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <i class="fa fa-bug" aria-hidden="true"></i>
                                            <a href="https://bugs.gentoo.org/{{.Id}}" class="text-dark"><b>{{.Summary}}</b></a>
                                        </div>
                                        <div class="col-md-12 text-muted">
                                            {{.Id}} - Assigned to {{.Assignee}}
                                        </div>
                                    </div>
                                </li>
                            {{end}}
                        {{end}}
                    </ul>
                {{end}}

                {{if $stabilization_bugs}}
                    <h3 id="stabilization" class="my-4">Stabilization Bug Reports</h3>
                    <ul class="list-group">
                        {{range getAllBugs .Packages}}
                            {{if eq .Component "Stabilization"}}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <i class="fa fa-bug" aria-hidden="true"></i>
                                            <a href="https://bugs.gentoo.org/{{.Id}}" class="text-dark"><b>{{.Summary}}</b></a>
                                        </div>
                                        <div class="col-md-12 text-muted">
                                            {{.Id}} - Assigned to {{.Assignee}}
                                        </div>
                                    </div>
                                </li>
                            {{end}}
                        {{end}}
                    </ul>
                {{end}}

                {{if $keywording_bugs}}
                    <h3 id="keywording" class="my-4">Keywording Bug Reports</h3>
                    <ul class="list-group">
                        {{range getAllBugs .Packages}}
                            {{if eq .Component "Keywording"}}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <i class="fa fa-bug" aria-hidden="true"></i>
                                            <a href="https://bugs.gentoo.org/{{.Id}}" class="text-dark"><b>{{.Summary}}</b></a>
                                        </div>
                                        <div class="col-md-12 text-muted">
                                            {{.Id}} - Assigned to {{.Assignee}}
                                        </div>
                                    </div>
                                </li>
                            {{end}}
                        {{end}}
                    </ul>
                {{end}}
            {{else}}
                <div class="row pt-5">
                    <div class="col-md-4">
                        <img style="width: 100%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Larry-the-cow-full.svg/1200px-Larry-the-cow-full.svg.png"/>
                    </div>
                    <div class="col-md-8 pt-3">
                        <h2>Good job! There are no bugs.</h2>
                        <span>You think something is missing here? <br/> Start with filling a <a href="https://bugs.gentoo.org/enter_bug.cgi">new bug</a>.</span>
                    </div>
                </div>
            {{end}}
        </div>
        <div class="col-md-3 pt-5">
            <h4 class="">
                <a class="collapseLink" style="color:#000000;" data-toggle="collapse" href="#collapseDescription" role="button" aria-expanded="false" aria-controls="collapseDescription">
                    Description
                </a>
            </h4>
            <div class="collapse show" id="collapseDescription">
                <span class="text-muted">
                    Gentoo Bugzilla is where we track bugs of Gentoo and its packages; you are welcome to report, confirm and resolve bugs:
                    <ul>
                        <li><a href="https://bugs.gentoo.org/enter_bug.cgi">File a new Bug</a></li>
                        <li><a href="https://bugs.gentoo.org/">Confirm a bug</a></li>
                        <li><a href="https://sites.google.com/site/yacoset/Home/how-to-fix-bugs-step-by-step">Offer solutions for open bugs</a></li>
                        <li><a href="https://wiki.gentoo.org/wiki/Bugday">Participate in our monthly Bugday</a></li>
                    </ul>
                </span>
            </div>
            <h4 class="">
                <a class="collapseLink" style="color:#000000;" data-toggle="collapse" href="#collapseShortcuts" role="button" aria-expanded="false" aria-controls="collapseShortcuts">
                    Shortcuts
                </a>
            </h4>
            <div class="collapse show" id="collapseShortcuts">
                <ul>
                    <li>{{if $general_bugs}}<a href="#packages">Packages Bugs ({{$general_bugs}})</a>{{else}}<a>Packages Bugs (0)</a>{{end}}</li>
                    <li>{{if $stabilization_bugs}}<a href="#stabilization">Stabilization Bugs ({{$stabilization_bugs}})</a>{{else}}<a>Stabilization Bugs (0)</a>{{end}}</li>
                    <li>{{if $keywording_bugs}}<a href="#keywording">Keywording Bugs ({{$keywording_bugs}})</a>{{else}}<a>Keywording Bugs (0)</a>{{end}}</li>
                </ul>
            </div>
        </div>
    </div>
{{end}}

