{{define "outdated"}}
    <div class="row">
        <div class="col-md-9">
            {{if .Maintainer.PackagesInformation.Outdated}}
                <h3 class="mb-4">Outdated Packages</h3>
                <ul class="list-group">
                    {{range .Packages}}
                        {{if .Outdated}}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="/packages/{{.Atom}}" class="text-dark"><b>{{.Atom}}</b></a>
                                    </div>
                                    <div class="col-md-8 text-muted">
                                        {{.Description}}
                                    </div>
                                </div>
                            </li>
                        {{end}}
                    {{end}}
                </ul>

            {{else}}
                <div class="row pt-5">
                    <div class="col-md-4">
                        <img style="width: 100%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Larry-the-cow-full.svg/1200px-Larry-the-cow-full.svg.png"/>
                    </div>
                    <div class="col-md-8 pt-3">
                        <h2>Good job!</h2>
                        <span>According to repology.org there are no outdated packages here. <br/>
                        Please use this information with care though. The repology data might not be accurate.
                        </span>
                    </div>
                </div>
            {{end}}
        </div>
        <div class="col-md-3 pt-4">
            <h4 class="">
                <a class="collapseLink" style="color:#000000;" data-toggle="collapse" href="#collapseDescription" role="button" aria-expanded="false" aria-controls="collapseDescription">
                    Description
                </a>
            </h4>
            <div class="collapse show" id="collapseDescription">
                <span class="text-muted">
                    Based on the data of <a href="https://repology.org/">repology.org</a>, there might be a new version available for these packages. <br/>
                    Please don't solely rely on this information, as the repology data might not be accurate.
                </span>
            </div>
        </div>
    </div>
{{end}}

