{{define "packages"}}
    <div class="row">
        <div class="col-md-9">
            {{if .Packages}}
                <ul class="list-group">
                    {{$category := ""}}

                            {{ range .Packages }}
                            {{ if eq .Category $category}}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="/packages/{{.Atom}}" class="text-dark"><b>{{.Atom}}</b></a>
                                        </div>
                                        <div class="col-md-8 text-muted">
                                            {{.Description}}
                                        </div>
                                    </div>
                                </li>
                                {{$category = .Category}}
                            {{else}}
                                    </ul>
                                    <h3 id="{{.Category}}" class="{{if ne $category ""}}mt-4{{end}}">
                                        {{$category = .Category}}
                                        {{$category}}
                                    </h3>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <a href="/packages/{{.Atom}}" class="text-dark"><b>{{.Atom}}</b></a>
                                                </div>
                                                <div class="col-md-8 text-muted">
                                                    {{.Description}}
                                                </div>
                                            </div>
                                        </li>
                            {{end}}
                        {{end}}



                </ul>

            {{else}}
                <div class="row">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4">
                        <img style="width: 100%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Larry-the-cow-full.svg/1200px-Larry-the-cow-full.svg.png"/>
                    </div>
                </div>
            {{end}}
        </div>
        <div class="col-md-3 pt-5">
            <h4 class="">Description</h4>
            <span class="text-muted">
                All packages maintained by {{.Maintainer.Name}}. That is, {{.Maintainer.Name}} is mentioned as maintainer of the project in the <a href="https://devmanual.gentoo.org/ebuild-writing/misc-files/metadata/">metadata.xml</a> file
            </span>
            <h4 class="mt-4">Shortcuts</h4>
            <dl>
                {{$category := (index .Packages 0).Category}}
                {{$packageCounter := 0}}
                {{ range .Packages }}
                    {{ if ne .Category $category}}
                        <dd class="ml-3 mb-0"><a href="#{{$category}}">{{$category}} ({{$packageCounter}})</a></dd>
                        {{$category = .Category}}
                        {{$packageCounter = 1}}
                    {{else}}
                        {{$packageCounter = add $packageCounter 1}}
                    {{end}}
                {{end}}
                <dd class="ml-3 mb-0"><a href="#{{$category}}">{{$category}} ({{$packageCounter}})</a></dd>
            </dl>
        </div>
    </div>
{{end}}

