{{define "packages"}}
    <div class="row">
        <div class="col-md-9">
            {{if .Packages}}
                <ul class="list-group">
                    {{$category := ""}}

                            {{ range .Packages }}
                            {{ if eq .Category $category}}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="/packages/{{.Atom}}" class="text-dark"><b>{{.Atom}}</b></a>
                                        </div>
                                        <div class="col-md-8 text-muted">
                                            {{.Description}}
                                        </div>
                                    </div>
                                </li>
                                {{$category = .Category}}
                            {{else}}
                                    </ul>
                                    <h3 id="{{.Category}}" class="{{if ne $category ""}}mt-4{{end}}">
                                        {{$category = .Category}}
                                        {{$category}}
                                    </h3>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <a href="/packages/{{.Atom}}" class="text-dark"><b>{{.Atom}}</b></a>
                                                </div>
                                                <div class="col-md-8 text-muted">
                                                    {{.Description}}
                                                </div>
                                            </div>
                                        </li>
                            {{end}}
                        {{end}}



                </ul>

            {{else}}
                <div class="row">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4">
                        <img style="width: 100%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Larry-the-cow-full.svg/1200px-Larry-the-cow-full.svg.png"/>
                    </div>
                </div>
            {{end}}
        </div>
        <div class="col-md-3 pt-4">
            {{if .Maintainer.Project.Description}}
                <h4 class="">
                    <a class="collapseLink" style="color:#000000;" data-toggle="collapse" href="#collapseDescription" role="button" aria-expanded="false" aria-controls="collapseDescription">
                        Description
                    </a>
                </h4>
                <div class="collapse show" id="collapseDescription">
                    <dl>
                        <dd class="ml-3 mb-0 text-muted">
                            {{.Maintainer.Project.Description}}
                        </dd>
                    </dl>
                </div>

                <h4 class="mt-4">
                    <a class="collapseLink" style="color:#000000;" data-toggle="collapse" href="#collapseMembers" role="button" aria-expanded="false" aria-controls="collapseMembers">
                        Members
                    </a>
                </h4>
                <div class="collapse show" id="collapseMembers">
                    <dl>
                        {{range .Maintainer.Project.Members}}
                            <dd class="ml-3 mb-0"><a href="/maintainer/{{.Email}}">{{.Name}}</a>{{if .IsLead}} (Lead){{end}}</dd>
                        {{end}}
                    </dl>
                </div>
            {{end}}
            {{if .Maintainer.Projects}}
                <h4 class="">
                    <a class="collapseLink" style="color:#000000;" data-toggle="collapse" href="#collapseProjects" role="button" aria-expanded="false" aria-controls="collapseProjects">
                        Projects
                    </a>
                </h4>
                <div class="collapse show" id="collapseProjects">
                    <dl>
                        {{range .Maintainer.Projects}}
                            <dd class="ml-3 mb-0"><a href="/maintainer/{{.Email}}">{{.Name}}</a></dd>
                        {{end}}
                    </dl>
                </div>
            {{end}}
            <h4 class="{{if .Maintainer.Project.Description}}mt-4{{end}}">
                <a class="collapseLink" style="color:#000000;" data-toggle="collapse" href="#collapseShortcuts" role="button" aria-expanded="false" aria-controls="collapseShortcuts">
                    Shortcuts
                </a>
            </h4>
            <div class="collapse show" id="collapseShortcuts">
                <dl>
                    {{$category := (index .Packages 0).Category}}
                    {{$packageCounter := 0}}
                    {{ range .Packages }}
                        {{ if ne .Category $category}}
                            <dd class="ml-3 mb-0"><a href="#{{$category}}">{{$category}} ({{$packageCounter}})</a></dd>
                            {{$category = .Category}}
                            {{$packageCounter = 1}}
                        {{else}}
                            {{$packageCounter = add $packageCounter 1}}
                        {{end}}
                    {{end}}
                    <dd class="ml-3 mb-0"><a href="#{{$category}}">{{$category}} ({{$packageCounter}})</a></dd>
                </dl>
            </div>
        </div>
    </div>
{{end}}

