{{define "security"}}
    <div class="row">
        <div class="col-md-9">

            {{if .Maintainer.PackagesInformation.SecurityBugs}}

                <h3 class="mb-4">Security Bug Reports</h3>
                <ul class="list-group">
                    {{range (getAllBugs .Packages)}}
                        {{if eq .Component "Vulnerabilities"}}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-12">
                                        <i class="fa fa-bug" aria-hidden="true"></i>
                                        <a href="https://bugs.gentoo.org/{{.Id}}" class="text-dark"><b>{{.Summary}}</b></a>
                                    </div>
                                    <div class="col-md-12 text-muted">
                                        {{.Id}} - Assigned to {{.Assignee}}
                                    </div>
                                </div>
                            </li>
                        {{end}}
                    {{end}}
                </ul>

            {{else}}
                <div class="row pt-5">
                    <div class="col-md-4">
                        <img style="width: 100%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Larry-the-cow-full.svg/1200px-Larry-the-cow-full.svg.png"/>
                    </div>
                    <div class="col-md-8 pt-3">
                        <h2>There are no open security bugs.</h2>
                        <span>You think something is missing here? <br/> Start with filling a <a href="https://bugs.gentoo.org/">new security bug</a>.</span>
                    </div>
                </div>
            {{end}}
        </div>
        <div class="col-md-3 pt-4">
            <h4>
                <a class="collapseLink" style="color:#000000;" data-toggle="collapse" href="#collapseDescription" role="button" aria-expanded="false" aria-controls="collapseDescription">
                    Contact Information
                </a>
            </h4>
            <div class="collapse show" id="collapseDescription">
                <span class="text-muted">
                    Please file new vulnerability reports on <a href="https://bugs.gentoo.org/">Gentoo Bugzilla</a> and assign them to the Gentoo Security product and Vulnerabilities component.
                </span>
            </div>
        </div>
    </div>
{{end}}

