{{define "stabilization"}}
    <div class="row">
        <div class="col-md-9">
            <span class="d-flex justify-content-between">
                <h3>Stable Requests</h3>
                <span>
                    <button type="button" class="kk-btn-xs btn btn-outline-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-fw fa-download"></span>
                    </button>
                    <span class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="./stabilization.list" target="_blank">Plain Text</a>
                        <a class="dropdown-item" href="./stabilization.json" target="_blank">JSON file</a>
                        <a class="dropdown-item" href="./stabilization.xml" target="_blank">XML file</a>
                    </span>
                </span>
            </span>
            <ul class="timeline">
                {{- $stable_requests := 0 -}}
                {{- range .Packages -}}
                    {{- range .Versions -}}
                        {{- range .PkgCheckResults -}}
                            {{- $stable_requests = (add $stable_requests 1) }}
                            <li>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="/packages/{{.Category}}/{{.Package}}" class="text-dark"><strong>{{.Category}}/{{.Package}}-{{.Version}}</strong></a><br/>
                                        <span class="kk-version kk-cell-sep-right text-muted">
                                        {{- .Message -}}
                                        </span>
                                    </li>
                                </ul>
                            </li>
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
            </ul>
            {{if eq $stable_requests 0}}
                <div class="text-center w-100"><i>- No Stable Requests found -</i></div>
            {{end}}

            {{- $stabilization_bugs := 0 -}}
            {{- range getAllBugs .Packages -}}
                {{- if eq .Component "Stabilization" -}}
                    {{- $stabilization_bugs = (add $stabilization_bugs 1) -}}
                {{- end -}}
            {{- end -}}


            {{if .Maintainer.PackagesInformation.Bugs -}}
                {{- if $stabilization_bugs}}
                    <h3 id="stabilization" class="my-4">Stabilization Bug Reports</h3>
                    <ul class="list-group">
                        {{- range getAllBugs .Packages -}}
                            {{if eq .Component "Stabilization"}}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <i class="fa fa-bug" aria-hidden="true"></i>
                                            <a href="https://bugs.gentoo.org/{{.Id}}" class="text-dark"><b>{{.Summary}}</b></a>
                                        </div>
                                        <div class="col-md-12 text-muted">
                                            {{- .Id}} - Assigned to {{.Assignee -}}
                                        </div>
                                    </div>
                                </li>
                            {{end -}}
                        {{- end -}}
                    </ul>
                {{- end -}}
            {{- end}}
        </div>
        <div class="col-md-3 pt-4">
            <h4 class="">
                <a class="collapseLink" style="color:#000000;" data-toggle="collapse" href="#collapseDescription" role="button" aria-expanded="false" aria-controls="collapseDescription">
                Description
                </a>
            </h4>
            <div class="collapse show" id="collapseDescription">
            <span class="text-muted">
                This page lists potential stabilization candidates. Please have a look at the <a href="https://wiki.gentoo.org/wiki/Stable_request">wiki page</a> for more information.
            </span>
            </div>
        </div>
    </div>
{{end}}

