<!DOCTYPE html>
<html lang="en">
{{template "head" .Header}}
<body>
{{template "header" .Header}}

{{template "browseuseflagsheader" .}}


<div class="tab-content" id="myTabContent">


<div class="container mb-5">
    <div class="row">

        <div class="col-12">


            <div class="card" style="background: none;border: none;">
                <noscript>
                    <div class="panel-body kk-panel-content-sorry">
                        This feature requires JavaScript to work.
                    </div>
                </noscript>
                <div class="panel-body kk-useflag-bubble-container" id="bubble-placeholder" style="overflow: hidden!important; display: none;">
                </div>
            </div>

            <!-- javascript_pack_tag 'useflags' -->


        </div>
    </div>
</div>


</div>


{{template "footer" .Application }}


<script src="/assets/useflags.js"></script>


</body>
</html>
