<!DOCTYPE html>
<html lang="en">
{{template "head" .Header}}
<body>
{{- template "header" .Header -}}

{{- template "browseuseflagsheader" . -}}

<div class="tab-content" id="myTabContent">
<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-9">
                {{if .Useflags}}
                    {{- $group := (index .Useflags 0).UseExpand -}}
                    <h3 id="{{$group}}">{{$group}}</h3>
                    <div class="card border-0">
                        <div class="list-group">
                        {{- range .Useflags -}}
                            {{- if ne $group .UseExpand -}}
                                {{- $group = .UseExpand }}
                        </div>
                    </div>
                    <h3 class="mt-4" id="{{$group}}">{{$group}}</h3>
                    <div class="card border-0">
                        <div class="list-group">
                            {{- end }}
                            <a class="list-group-item list-group-item-action text-dark" href="/useflags/{{.Name}}">
                                <h3 class="kk-search-result-header">{{.Name}}</h3>
                                {{.Description}}
                            </a>
                        {{- end -}}
                        </div>
                    </div>
                {{- end -}}
                </div>
                <div class="col-md-3">
                    <dl>
                        <dd class="ml-3 mb-0">
                            {{- $group := "" -}}
                            {{- range .Useflags -}}
                                {{- if ne $group .UseExpand -}}
                                    {{- $group = .UseExpand -}}
                                    <a href="#{{$group}}" class="text-muted">{{$group}}</a><br>
                                {{- end -}}
                            {{- end -}}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{{template "footer" .Application }}
</body>
</html>
