<!DOCTYPE html>
<html lang="en">
{{template "head" .Header}}
<body>
{{template "header" .Header}}

{{template "browseuseflagsheader" .}}


<div class="tab-content" id="myTabContent">


<div class="container mb-5">
    <div class="row">
        <div class="col-12">

            {{if .Useflags}}
                {{$package := (index .Useflags 0).Package}}
                <h3>{{$package}}</h3>

                <div class="card border-0">
                    <div class="list-group">
                        {{ range .Useflags }}
                            {{ if eq .Package $package}}
                                <a class="list-group-item list-group-item-action text-dark" href="/useflags/{{.Name}}">
                                    <h3 class="kk-search-result-header">{{.Name}}</h3>
                                    {{.Description}}
                                </a>
                                {{$package = .Package}}
                            {{else}}
                                {{$package = .Package}}
                                    </div>
                                </div>
                                    <h3 class="mt-4">{{$package}}</h3>

                                    <div class="card border-0">
                                    <div class="list-group">
                                <a class="list-group-item list-group-item-action text-dark" href="/useflags/{{.Name}}">
                                    <h3 class="kk-search-result-header">{{.Name}}</h3>
                                    {{.Description}}
                                </a>
                            {{end}}
                        {{end}}
                    </div>
                </div>
            {{end}}


        </div>
    </div>
</div>


</div>


{{template "footer" .Application }}


</body>
</html>
