<!DOCTYPE html>
<html lang="en">
{{template "head" .Header}}
<body>
{{template "header" .Header}}



{{template "useflagsheader" .}}


<div class="tab-content" id="myTabContent">

<div class="container mb-5">
    <div class="row">
        <div class="col-12">

            {{ if .OtherUseExpands }}
                <h3 class="mb-2">Other “{{.Useflag.UseExpand}}” USE_EXPAND flag values</h3>
                <div class="card">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <th>Use Flag</th>
                            <th>Description</th>
                            </thead>
                            <tbody>
                            {{range .OtherUseExpands}}
                            <tr>
                                <th class="kk-nobreak-cell"><a href="/useflags/{{.Name}}">{{.Name}}</a></th>
                                <td>{{.Description}}</td>
                            </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            {{end}}

            {{ if .Packages }}
            <h3 class="mb-2 mt-4">All packages providing a “{{.Useflag.Name}}” USE flag ({{len .Packages}})</h3>
            <div class="card">
                <div class="card-body">
                    <ul class="kk-col-list kk-3col-list kk-useflag-listing">
                        {{range .Packages}}
                        <li><a href="/packages/{{.}}">{{.}}</a></li>
                        {{end}}
                    </ul>
                </div>
            </div>
            {{end}}

        </div>
    </div>
</div>

</div>


{{template "footer" .Application }}



</body>
</html>
