<!DOCTYPE html>
<html lang="en">
{{template "head" .Header}}
<body>
{{template "header" .Header}}


{{template "useflagsheader" .}}


<div class="tab-content" id="myTabContent">

<div class="container mb-5">
    <div class="row">
        <div class="col-12">


            {{ if .LocalUseflags }}
            <h3 class="mb-2">Packages describing “{{.Useflag.Name}}” as local USE flag</h3>
            <div class="card mb-4 border-top-0">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                        <th>Package</th>
                        <th>“{{.Useflag.Name}}” Flag Description</th>
                        </thead>
                        <tbody>
                        <!-- TODO sort by package -->
                        {{ range .LocalUseflags}}
                        <tr>
                            <th class="kk-nobreak-cell"><a href="/packages/{{.Package}}">{{.Package}}</a></th>
                            <!-- TODO sanitization needed here? -->
                            <td>{{.Description}}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
            {{end}}

            {{ if .Packages }}
            <h3 class="mb-2 pt-2">All packages providing a “{{.Useflag.Name}}” USE flag ({{len .Packages}})</h3>
            <div class="card">
                <div class="card-body">
                    <ul class="kk-col-list kk-3col-list kk-useflag-listing mb-0">
                        {{range .Packages}}
                        <li><a href="/packages/{{.}}">{{.}}</a></li>
                        {{end}}
                    </ul>
                </div>
            </div>
            {{end}}

        </div>
    </div>
</div>

</div>


{{template "footer" .Application }}



</body>
</html>
