{{define "useflagsheader"}}
    <div class="kk-header-container">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="row mt-3  pt-2">
                        <div class="col-md-5">
                            <h1 class="stick-top kk-package-title" id="package-title">

                                <small class="kk-package-cat"><a href="/useflags" class="text-dark ml-1 {{if .Useflag.UseExpand}}{{else}}text-capitalize{{end}}">{{if .Useflag.UseExpand}}{{.Useflag.UseExpand}}{{else}}{{.Useflag.Scope}} USE flag{{end}}</a></small>
                                <div>
                                    <div class="kk-package-name" style="margin-left: 0px!important;"><span class="fa fa-fw fa-sliders"></span><span class="ml-2">{{if .Useflag.UseExpand}}{{ replaceall .Useflag.Name (print .Useflag.UseExpand "_") ""}}{{else}}{{.Useflag.Name}}{{end}}</span></div>
                                </div>
                            </h1>
                        </div>
                        <div class="col-md-7">
                            <p class="lead kk-package-maindesc">
                                {{.Useflag.Description}}
                            </p>
                        </div>

                        <div class="col-md-12 pt-4 mt-1">
                            <nav class="nav kk-package-nav">
                                <a class="nav-link active" href="/categories/browse"><i class="fa fa-list mr-1" aria-hidden="true"></i> Packages</a>

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}
