<!DOCTYPE html>
<html lang="en">
{{template "head" .Header}}
<body>
{{template "header" .Header}}

<div class="container mb-5">
    <div class="row">
        <div class="col-12">


            <div class="jumbotron mb-3" style="background: none!important;">
                <h2 class="site-welcome stick-top">Welcome to the Home <br/>
                    of <span class="text-primary"> {{.PackageCount}} </span> Gentoo Packages</h2>

                <form action="/packages/search" method="get">
                    <div class="typeahead-container px-5">
                        <div class="typeahead-field">
                    <span class="typeahead-query" style="font-size: 1.1em; height: 2.3em;">
                      <input class="rounded-left" style="font-size: 1.1em; height: 2.3em;border-right: 0px;" id="q" name="q" type="search" autocomplete="off" placeholder="Find Packages" aria-label="Find Packages" autofocus>
                    </span>

                            <span class="typeahead-button" style="font-size: 1.1em!important; height: 2.3em!important;border-left: 0px;">
                      <button style="border-top-right-radius: 0.25rem !important; border-bottom-right-radius: 0.25rem !important; font-size: 1.1em!important; height: 2.3em!important;border-left: 0px;box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);!important;" type="submit" title="Find" aria-label="Find">
                        <span class="typeahead-search-icon"></span><span class="sr-only">Find</span>
                      </button>
                    </span>
                        </div>
                    </div>
                </form>
                <br/>
                <small class="mt-4 px-5 text-muted" style="font-size: 12px;">This is the new packages.gentoo.org site. If anything isn't working as expected, <a href="mailto:gpackages@gentoo.org">contact us</a>.</small><br>
                <small class="px-5 text-muted" style

                ="font-size: 12px;">You can search by <a href="/packages/search?q=sys-kernel/gentoo-sources">atom</a>, <a href="/packages/search?q=sys-kernel">category</a>, <a href="/packages/search?q=gentoo-sources">name</a>, <a href="/packages/search?q=kernel@gentoo.org">maintainer</a> or <a href="/packages/search?q=x11-wm%20haskell@gentoo.org">combine</a> queries. Results similar to your query will be found as well.</small>

            </div>
        </div>
        <div class="col-12">
            <h3 class="mb-2"><span class="fa fa-fw fa-history"></span>
                {{if eq .UserPreferences.General.LandingPageLayout "classic"}}<a class="text-dark" href="/packages/added">Added Packages</a>{{else}}<a class="text-dark">Search History</a>{{end}}
                </h3>
            <div class="card border-top-0 mb-4">
                <div class="table-responsive rounded">
                    <table class="table table-striped rounded mb-0">
                    <tbody>
                    {{range .AddedPackages}}
                        <tr>
                            <td>
                                <a href="/packages/{{.Atom}}">
                                    <span class="text-muted">{{.Category}}</span>/<strong>{{.Name}}</strong>
                                </a>
                            </td>
                            <td>{{(index .Versions 0).Description}}</td>
                        </tr>
                    {{end}}
                    {{if eq .UserPreferences.General.LandingPageLayout "full"}}
                        {{if eq (len .AddedPackages) 0}}
                            <tr><td class="text-center"><i>Visited packages will be displayed here in future</i></td></tr>
                        {{end}}
                    {{end}}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12">
            <h3 class="pt-3 mb-2"><span class="fa fa-fw fa-asterisk"></span>
            <a class="text-dark" href="/packages/updated">Updated Packages</a></h3>
            <ul class="list-group">
                {{range .UpdatedPackages}}
                    {{template "changedversion" .}}
                {{end}}
            </ul>

        </div>
    </div>
</div>


{{template "footer" .Application}}

<script src="assets/index.js"></script>

</body>
</html>
