{{define "archesheader"}}
    <div class="kk-header-container">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="row mt-3">
                        <div class="col-md-5 pt-2">
                            <h1 class="stick-top kk-package-title" id="package-title">
                                <div>
                                    <div class="kk-package-name" style="margin-left: 0px!important;"><span class="fa fa-fw fa-server"></span><span class="ml-2">Architectures</span></div>
                                </div>
                            </h1>
                        </div>
                        <div class="col-md-7">

                        </div>

                        <div class="col-md-12 pt-4 mt-1">
                            <nav class="nav kk-package-nav">
                                {{range $.UserPreferences.Arches.Visible}}
                                    <a class="nav-link {{if eq $.Arch .}}active{{end}}" href="/arches/{{.}}/{{$.UserPreferences.Arches.DefaultPage}}">{{.}}</a>
                                {{end}}
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}
