<!DOCTYPE html>
<html lang="en">
{{template "head" .Header}}
<body>
{{template "header" .Header}}

{{template "archesheader" .}}


<div class="tab-content" id="myTabContent">

<div class="container mb-5">
    <div class="row">
        <div class="col-11">

            {{if eq .Name "Keyworded"}}
                <h3>
                    <a class="text-dark"><i class="fa fa-circle-o" aria-hidden="true"></i> Keyworded Packages</a>
                    <a href="/arches/{{.Arch}}/stable" class="ml-3 text-muted"><i class="fa fa-check-circle-o" aria-hidden="true"></i>  Newly Stable Packages</a>
                </h3>
            {{else}}
                <h3>
                    <a href="/arches/{{.Arch}}/keyworded" class="text-muted"><i class="fa fa-circle-o" aria-hidden="true"></i> Keyworded Packages</a>
                    <a class="ml-3 text-dark"><i class="fa fa-check-circle-o" aria-hidden="true"></i>  Newly Stable Packages</a>
                </h3>
            {{end}}
        </div>
        <div class="col-1 text-right">
            <h3>
            <a title="Atom feed" href="/arches/{{.Arch}}/{{.FeedName}}.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
            </h3>
        </div>
        <div class="col-12">
            <li class="list-group">
                {{template "changedversions" .}}
            </li>


        </div>
    </div>
</div>


</div>


{{template "footer" .Application }}

</body>
</html>
