<!DOCTYPE html>
<html lang="en">
{{template "head" .Header}}
<body>
{{template "header" .Header}}

{{template "archesheader" .}}


<div class="tab-content" id="myTabContent">

<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <div class="card border-top-0">
                <div class="table-responsive">
                    <table class="table table-striped mb-0">
                        <colgroup><col>
                            <col style="width: 20em;">
                            <col style="width: 20em;">
                        </colgroup><tbody>
                        <tr>
                            <th class="kk-nobreak-cell">alpha</th>
                            <td>
                                <a href="/arches/alpha/keyworded"><span class="translation_missing" title="translation missing: en.keyworded_packages">Keyworded Packages</span></a>
                                <a title="Atom feed" href="/arches/alpha/keyworded.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                            <td>
                                <a href="/arches/alpha/stable">Newly Stable Packages</a>
                                <a title="Atom feed" href="/arches/alpha/stable.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <th class="kk-nobreak-cell">amd64</th>
                            <td>
                                <a href="/arches/amd64/keyworded"><span class="translation_missing" title="translation missing: en.keyworded_packages">Keyworded Packages</span></a>
                                <a title="Atom feed" href="/arches/amd64/keyworded.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                            <td>
                                <a href="/arches/amd64/stable">Newly Stable Packages</a>
                                <a title="Atom feed" href="/arches/amd64/stable.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <th class="kk-nobreak-cell">arm</th>
                            <td>
                                <a href="/arches/arm/keyworded"><span class="translation_missing" title="translation missing: en.keyworded_packages">Keyworded Packages</span></a>
                                <a title="Atom feed" href="/arches/arm/keyworded.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                            <td>
                                <a href="/arches/arm/stable">Newly Stable Packages</a>
                                <a title="Atom feed" href="/arches/arm/stable.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <th class="kk-nobreak-cell">arm64</th>
                            <td>
                                <a href="/arches/arm64/keyworded"><span class="translation_missing" title="translation missing: en.keyworded_packages">Keyworded Packages</span></a>
                                <a title="Atom feed" href="/arches/arm64/keyworded.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                            <td>
                                <a href="/arches/arm64/stable">Newly Stable Packages</a>
                                <a title="Atom feed" href="/arches/arm64/stable.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <th class="kk-nobreak-cell">hppa</th>
                            <td>
                                <a href="/arches/hppa/keyworded"><span class="translation_missing" title="translation missing: en.keyworded_packages">Keyworded Packages</span></a>
                                <a title="Atom feed" href="/arches/hppa/keyworded.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                            <td>
                                <a href="/arches/hppa/stable">Newly Stable Packages</a>
                                <a title="Atom feed" href="/arches/hppa/stable.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <th class="kk-nobreak-cell">ia64</th>
                            <td>
                                <a href="/arches/ia64/keyworded"><span class="translation_missing" title="translation missing: en.keyworded_packages">Keyworded Packages</span></a>
                                <a title="Atom feed" href="/arches/ia64/keyworded.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                            <td>
                                <a href="/arches/ia64/stable">Newly Stable Packages</a>
                                <a title="Atom feed" href="/arches/ia64/stable.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <th class="kk-nobreak-cell">ppc</th>
                            <td>
                                <a href="/arches/ppc/keyworded"><span class="translation_missing" title="translation missing: en.keyworded_packages">Keyworded Packages</span></a>
                                <a title="Atom feed" href="/arches/ppc/keyworded.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                            <td>
                                <a href="/arches/ppc/stable">Newly Stable Packages</a>
                                <a title="Atom feed" href="/arches/ppc/stable.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <th class="kk-nobreak-cell">ppc64</th>
                            <td>
                                <a href="/arches/ppc64/keyworded"><span class="translation_missing" title="translation missing: en.keyworded_packages">Keyworded Packages</span></a>
                                <a title="Atom feed" href="/arches/ppc64/keyworded.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                            <td>
                                <a href="/arches/ppc64/stable">Newly Stable Packages</a>
                                <a title="Atom feed" href="/arches/ppc64/stable.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <th class="kk-nobreak-cell">riscv</th>
                            <td>
                                <a href="/arches/riscv/keyworded"><span class="translation_missing" title="translation missing: en.keyworded_packages">Keyworded Packages</span></a>
                                <a title="Atom feed" href="/arches/riscv/keyworded.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                            <td>
                                <a href="/arches/riscv/stable">Newly Stable Packages</a>
                                <a title="Atom feed" href="/arches/riscv/stable.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <th class="kk-nobreak-cell">sparc</th>
                            <td>
                                <a href="/arches/sparc/keyworded"><span class="translation_missing" title="translation missing: en.keyworded_packages">Keyworded Packages</span></a>
                                <a title="Atom feed" href="/arches/sparc/keyworded.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                            <td>
                                <a href="/arches/sparc/stable">Newly Stable Packages</a>
                                <a title="Atom feed" href="/arches/sparc/stable.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <th class="kk-nobreak-cell">x86</th>
                            <td>
                                <a href="/arches/x86/keyworded"><span class="translation_missing" title="translation missing: en.keyworded_packages">Keyworded Packages</span></a>
                                <a title="Atom feed" href="/arches/x86/keyworded.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                            <td>
                                <a href="/arches/x86/stable">Newly Stable Packages</a>
                                <a title="Atom feed" href="/arches/x86/stable.atom" class="kk-feed-icon"><span class="fa fa-fw fa-rss-square"></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
</div>
</div>



</div>


{{template "footer" .Application }}

</body>
</html>
