<!DOCTYPE html>
<html lang="en">
{{template "head" .Header}}
<body>
{{template "header" .Header}}


<div class="container mb-5">
    <div class="row">
        <div class="col-12 text-center">

            <h1 class="px-3 pt-5 pb-1" style="font-size: 3em;">About packages.gentoo.org</h1>
            <span style="font-size: 90%;" class="text-muted">Feel free to <a href="/about/feedback">get in touch</a> if you have any questions that are not answered on this page.<br/>
            And welcome to the new packages.gentoo.org!</span>

        </div>

        <div class="col-12 mt-5 pt-4">


            <h2>FAQ</h2>

            <dl>
                <dt>Which version is currently running?</dt>
                <dd>
                    Currently {{.Application.Version}} is running.
                </dd>
                <br>
                <dt>How often is the site updated?</dt>
                <dd>
                    Updates are scheduled <strong>every 5 minutes now</strong>.
                    You can find the last time an import task was started in the footer.
                </dd>
            </dl>

</div>
</div>
</div>


{{template "footer" .Application }}

</body>
</html>
